body, html {
    font-family: "MuseoModerno", Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    width: 100%;
}

.a {
    background-color: #f0a500; /* delete */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1vh;
}

.a h1 {
    margin: 0;
}

.b {
    background-color: #ff6f61; /* delete */
    display: flex;
    align-items: stretch;
    width: 100%;
}

.inner-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
}

.ba {
    background-color: #5dade2; /* delete */
    position: relative;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.bb {
    background-color: #48c9b0; /* delete */
}

.bc {
    display: grid;
    background-color: #ec7063; /* delete */
}

.bc-grid {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
}

.bc-grid img {
    position: absolute;
    padding: 1vh;
    background: linear-gradient(180deg, #ffffff, #e6e3e3);
    border-radius: 35%;
}

.bca, .bcb, .bcc, .bcd {
    position: relative;
}

.icon-bottom-left {
    bottom: 0;
    left: 0;
}

.icon-top-left {
    top: 0;
    left: 0;
}

.icon-one {
    width: min(5vw, 80px); 
    height: min(5vw, 80px);
    transform: rotate(15deg);
}

.icon-two {
    width: min(3vw, 50px); 
    height: min(3vw, 50px);
    transform: rotate(-5deg);
}

.icon-three {
    width: min(2vw, 35px); 
    height: min(2vw, 35px);
    transform: rotate(5deg);
}

.bd {
    background-color: #f4d03f; /* delete */
}

.be {
    position: relative;
    background-color: #a569bd; /* delete */
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 768px){
    .profile-pic {
        z-index: 2;
        position: absolute;
        width: clamp(280px, 30vw, 500px);
        height: clamp(280px, 30vw, 500px);
        border-radius: 50%;
    }

    .bf {
        background-color: #f5b041; /* delete */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 2vw; 
        position: relative;
    }

    .bf-text {
        position: absolute;
        left: -5vw; 
        top: 30%;
        transform: rotate(10deg);
        z-index: 2;
        line-height: 1.07;
        font-weight: 600;
        font-size: clamp(30px, 3vw, 50px);
        color: #605c75;
        color: transparent;
        -webkit-text-stroke: 1px white;
            
    }

    /* Adding bf-circle */
    .bf::before {
        content: '';
        position: absolute;
        left: -18vw; 
        top: 60%;
        transform: translateY(-50%);
        width: clamp(280px, 30vw, 500px);
        height: clamp(280px, 30vw, 500px);
        background: linear-gradient(215deg, #9f9ab8, #605c75);
        border-radius: 50%;
    }

    .bg-bh {
        grid-column: span 2;
        background-color: #58d68d; /* delete */
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.32em;
        font-weight: 800;
        font-size: 3em;
    }

    .bg-bh .text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align text to the left */
    }

    .c {
        background-color: #2e86c1; /* delete */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 768px){
    .profile-pic {
        z-index: 2;
        position: absolute;
        width: min(50vw, 280px); 
        height: min(50vw, 280px);
        /* border-radius: 50%; */
    }

    .bf {
        background-color: #f5b041; /* delete */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 2vw; 
        position: relative;
    }

    .bf::before {
        content: '';
        position: absolute;
        left: -18vw; 
        top: 60%;
        transform: translateY(-50%);
        width: min(55vw, 280px); 
        height: min(55vw, 280px);
        background: linear-gradient(215deg, #9f9ab8, #605c75);
        border-radius: 50%;
    }

    .bg-bh {
        grid-column: span 2;
        background-color: #58d68d; /* delete */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .c {
        background-color: #2e86c1; /* delete */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

