/* CSS styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
}

#profile {
  height: 100vh; /* Make the profile section take up the entire vertical space of the screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

header {
  padding: 20px;
  text-align: center;
}

#profile img {
  max-width: 300px; /* Set max-width for medium size */
  width: 100%; /* Ensure image fills its container */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Adjust as needed */
}

#profile h1,
#profile h2,
#profile p {
  margin: 10px;
}

#experience {
  padding: 20px;
  background-color: #ffffff; /* Adjust as needed */
}

.project {
  margin-bottom: 20px;
}

.project img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

#featured-skills {
  display: flex;
  width: 20px;
  height: auto;
}

#links {
  padding: 20px;
  background-color: #f0f0f0; /* Adjust as needed */
}

#links ul {
  list-style: none;
  padding: 0;
}

#links ul li {
  display: inline-block;
  margin-right: 10px;
}

#links ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Additional styles to create space below links section */
#footer {
  height: 200px; /* Adjust according to content */
}
