<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Ryo Fujimura</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="profile">
        <header>
            <img src="{{ url_for('static', filename='img-asset/profile.png') }}" alt="Profile Picture">
            <h1>{{ name }}</h1>
            <h2>{{ title }}</h2>
            <p>{{ description }}</p>
            <div id="featured-skills">
                {% set skill_found = false %}
                {% for skill in featured_skills %}
                    {% if not skill_found %}
                        {% for ext in available_images %}
                            {% if skill + '.' + ext in available_images %}
                                <img src="{{ url_for('static', filename='img-asset/' + skill + '.' + ext) }}" alt="{{ skill }}">
                                {% set skill_found = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            
        </header>
    </div>

    <section id="experience">
        <h2>Experience</h2>
        <div id="experience-list">
            {% for project in projects %}
            <div class="project">
                <img src="{{ url_for('static', filename='img-asset/' + project['image']) }}" alt="{{ project['company'] }}">
                <h3>{{ project['company'] }}</h3>
                <p>{{ project['term'] }}</p>
                <p><strong>{{ project['role'] }}</strong></p>
                <p>{{ project['description'] }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="links">
        <h2>Links</h2>
        <ul>
            {% for link in links %}
            <li><a href="{{ link['url'] }}"><img src="{{ url_for('static', filename='img-asset/' + link['icon']) }}" alt="{{ link['title'] }}">{{ link['title'] }}</a></li>
            {% endfor %}
        </ul>
    </section>

    <div id="footer"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
