{% extends 'base.html' %}

{% block content %}
<h2>{{ product['name'] }}</h2>

<!-- Background Selection -->
<label for="background-select">Choose a background:</label>
<select id="background-select">
    {% for background in backgrounds %}
    <option value="{{ background['id'] }}">{{ 'Background ' ~ background['id'] }}</option>
    {% endfor %}
</select>

<!-- Swiper Slider -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        {% for image in product['images'] %}
            <div class="swiper-slide">
                <img
                    src="{{ url_for('combined_image', image_filename=image, background_id=backgrounds[0]['id']) | url_encode }}"
                    alt="{{ product['name'] }}"
                    data-image="{{ image }}"
                >
            </div>
        {% endfor %}
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<p>{{ product['description'] }}</p>
<a href="{{ url_for('product_list') }}">Back to Products</a>
{% endblock %}
