<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }} - Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img-asset/rflogoblack.png') }}" alt="Logo">
        </a>
    </header>
    <img src="{{ url_for('static', filename='img-asset/' + project.image) }}" style="padding:50px; height: 50px; width: auto;">
    {% if images %}
    <div class="slider-container">
        <div class="image-slider">
                {% for image in images %}
                <div class="each-image">
                    <img src="{{ url_for('static', filename=image) }}" alt="Project Image">
                </div>
                {% endfor %}
        </div>        
        <div class="buttons">
            <button class="slick-prev">‹</button>
            <button class="slick-next">›</button>
        </div>
    </div>        
    {% endif %}
    
    <div class="project_page">
        <div class="project-header">
            <span class="project-company">{{ project.company }}</span>
            <span class="project-term" style="float: right;">{{ project.term }}</span>
        </div>        
        <div class="project-role">
            <p>{{ project.role|safe }}</p>
        </div>
    </div>
    
    <div class="project-description">
        {{ project.description |safe }}
    </div>
    <div class="navigation">
        <a href="{{ prev_project }}">
            <img src="{{ url_for('static', filename='/img-asset/'+prev_title) }}" alt="Previous Project">
        </a>
        <a href="{{ next_project }}">
            <img src="{{ url_for('static', filename='/img-asset/'+next_title) }}" alt="Next Project">
        </a>
    </div>
    
    <script>
        $(document).ready(function(){
            function initSlider() {
                var showArrows = $(window).width() > 450;
                $('.image-slider').slick({
                    centerMode: true,
                    slidesToShow: 1,
                    arrows: showArrows, // Control arrow display based on width
                    dots: false,
                    infinite: true,
                    variableWidth: true, // This can be set to true to handle variable widths due to margins
                    adaptiveHeight: true, // This can help if heights are inconsistent
                    prevArrow: $('.slick-prev'),
                    nextArrow: $('.slick-next')
                });
            }

            initSlider(); // Initialize slider on page load
            $(window).resize(initSlider); // Re-initialize slider on window resize
        });

    </script>
</body>
</html>
