<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }} - Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img-asset/rflogoblack.png') }}" alt="Logo">
        </a>
    </header>
    {{ images }}
    <div class="image-slider">
        {% if images %}
            {% for image in images %}
            <div style="position: relative;">
                <img src="{{ url_for('static', filename=image) }}" alt="Project Image" style="width: 100%;">
            </div>
            {% endfor %}
        
        {% endif %}
    </div>
    
    
    
    <div class="project_page">
        <h1>{{ project.id }}</h1>
        <p>Project Duration: Example Duration</p>
        <p>Project Position: Example Position</p>
    </div>
    <div class="project-role">
        {{ project.role|safe }}
    </div>
    <div class="navigation">
        <button onclick="window.history.back();">Previous Project</button>
        <button onclick="window.history.forward();">Next Project</button>
    </div>
    <script>
    $(document).ready(function(){
        $('.image-slider').slick({
            centerMode: true,
            slidesToShow: 1,
            arrows: $('.image-slider div').length > 1, // Show arrows only if more than one slide
            dots: $('.image-slider div').length > 1 // Show dots only if more than one slide
        });
    });


    </script>
</body>
</html>
