@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	summary {
		cursor: pointer;
	}

	svg {
		width: 1em;
		height: 1em;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		@apply hidden;
	}
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.with-icon {
		display: inline-flex;
		align-items: center;
		gap: 0.5ch;
	}
}
