@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	summary {
		cursor: pointer;
	}

	svg {
		width: 1em;
		height: 1em;
	}
}

@layer components {
	.link {
		text-decoration: underline;
		text-decoration-thickness: 1px;

		@apply decoration-gray-300 hover:decoration-amber-500;
	}

	.button {
		padding: 0.5ch;

		@apply border border-gray-300 text-black focus:border-amber-500 focus:ring focus:ring-amber-200;
	}

	.button:disabled {
		cursor: not-allowed;

		@apply bg-gray-100 text-opacity-40;
	}

	.input {
		display: block;
		width: 100%;
		outline: 0;
		border-radius: 0;
		padding: 0.5ch;

		@apply border border-gray-300 focus:border-amber-500 focus:ring focus:ring-amber-200;
	}

	.h1 {
		margin-bottom: 1.5rem;
		padding-bottom: 0.25em;

		@apply border-b border-gray-300 text-2xl font-bold;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		@apply hidden;
	}
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.with-icon {
		display: inline-flex;
		align-items: center;
		gap: 0.5ch;
	}
}
